<h1>La Pelona</h1>


<%= link_to 'Estados', states_path %>
<br>
<%= link_to 'Sexo', sexes_path %>
<br>
<%= link_to 'Periodos', periods_path %>
<br>
<%= link_to 'Enfermedades Generales', sickness_generals_path %>
<br>
<%= link_to 'Enfermedades Especificas', sickness_specifics_path %>
<br>
