<p id="notice"><%= notice %></p>

<h1>Sickness Generals</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sickness_generals.each do |sickness_general| %>
      <tr>
        <td><%= sickness_general.name %></td>
        <td><%= link_to 'Show', sickness_general %></td>
        <td><%= link_to 'Edit', edit_sickness_general_path(sickness_general) %></td>
        <td><%= link_to 'Destroy', sickness_general, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sickness General', new_sickness_general_path %>
