<%= form_for(quantity) do |f| %>
  <% if quantity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(quantity.errors.count, "error") %> prohibited this quantity from being saved:</h2>

      <ul>
      <% quantity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sex_id, "Sexo" %>
    <%= f.collection_select :sex_id, Sex.all, :id, :name %>
  </div>

  <div class="field">
    <%= f.label :state_id, "Estado" %>
    <%= f.collection_select :state_id, State.all, :id, :name %>
  </div>

  <div class="field">
    <%= f.label :sickness_specific_id, "Enfermedad Especifica" %>
    <%= f.collection_select :sickness_specific_id, SicknessSpecific.all, :id, :name %>
  </div>

  <div class="field">
    <%= f.label :period_id, "Periodo" %>
    <%= f.collection_select :period_id, Period.all, :id, :year %>
  </div>

  <div class="field">
    <%= f.label :age_id, "Edad" %>
    <%= f.collection_select :age_id, Age.all, :id, :edad %>
  </div>

  <div class="field">
    <%= f.label :cantidad %>
    <%= f.number_field :cantidad %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
