<%= form_for(quantity) do |f| %>
  <% if quantity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(quantity.errors.count, "error") %> prohibited this quantity from being saved:</h2>

      <ul>
      <% quantity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sex_id %>
    <%= f.text_field :sex_id %>
  </div>

  <div class="field">
    <%= f.label :state_id %>
    <%= f.text_field :state_id %>
  </div>

  <div class="field">
    <%= f.label :sickness_specific_id %>
    <%= f.text_field :sickness_specific_id %>
  </div>

  <div class="field">
    <%= f.label :period_id %>
    <%= f.text_field :period_id %>
  </div>

  <div class="field">
    <%= f.label :age_id %>
    <%= f.text_field :age_id %>
  </div>

  <div class="field">
    <%= f.label :cantidad %>
    <%= f.number_field :cantidad %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
