<p id="notice"><%= notice %></p>

<h1>Quantities</h1>

<table>
  <thead>
    <tr>
      <th>Sexo</th>
      <th>Estado</th>
      <th>Enfermedades</th>
      <th>Periodo</th>
      <th>Edad</th>
      <th>Cantidad</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quantities.each do |quantity| %>
      <tr>
        <td><%= quantity.sexo_id %></td>
        <td><%= quantity.estado_id %></td>
        <td><%= quantity.enfermedades_id %></td>
        <td><%= quantity.periodo_id %></td>
        <td><%= quantity.edad_id %></td>
        <td><%= quantity.cantidad %></td>
        <td><%= link_to 'Show', quantity %></td>
        <td><%= link_to 'Edit', edit_quantity_path(quantity) %></td>
        <td><%= link_to 'Destroy', quantity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quantity', new_quantity_path %>
