<p id="notice"><%= notice %></p>

<p>
  <strong>Sex:</strong>
  <%= @quantity.sex.name %>
</p>

<p>
  <strong>State:</strong>
  <%= @quantity.state.name %>
</p>

<p>
  <strong>Sickness specific:</strong>
  <%= @quantity.sickness_specific.name %>
</p>

<p>
  <strong>Period:</strong>
  <%= @quantity.period.year %>
</p>

<p>
  <strong>Age:</strong>
  <%= @quantity.age.edad %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @quantity.cantidad %>
</p>

<%= link_to 'Edit', edit_quantity_path(@quantity) %> |
<%= link_to 'Back', quantities_path %>
